version: '3.8'

services:
  db:
    image: postgres:15-alpine
    container_name: hotel_hub_db
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=admin
      - POSTGRES_DB=hotel_hub
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./backend/database/init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - app-network

volumes:
  pgdata:

networks:
  app-network:
    driver: bridge